{% include header.html %}

<div id="main">
    <div class="sidebar">
        <div class="sidebar-inner">
            <h3>
                <a href="#zrender-api">zrender</a>
            </h3>
            <ol>
                <li>
                    <a href="#zrenderdisposezr">dispose()</a>
                </li>
                <li>
                    <a href="#zrenderinitdom-opts">init()</a>
                </li>
                <li>
                    <a href="#zrenderversion">version</a>
                </li>

                <li>
                    <a href="#zrenderanimatable" class="primary">.Animatable</a>
                    <ol>
                        <li>
                            <a href="#zrenderanimatableanimatepath-loop">animate()</a>
                        </li>
                        <li>
                            <a href="#zrenderanimatableanimatetotarget-time-delay-easing-callback-forceanimate">animateTo()</a>
                        </li>
                        <li>
                            <a href="#zrenderanimatablestopanimationforwardtolast">stopAnimation()</a>
                        </li>
                    </ol>
                    <a href="#zrenderanimator" class="primary">.Animator</a>
                    <ol>
                        <li>
                            <a href="#zrenderanimatordelaytime">delay()</a>
                        </li>
                        <li>
                            <a href="#zrenderanimatordonecallback">done()</a>
                        </li>
                        <li>
                            <a href="#zrenderanimatorduringcallback">during()</a>
                        </li>
                        <li>
                            <a href="#zrenderanimatorispaused">isPaused()</a>
                        </li>
                        <li>
                            <a href="#zrenderanimatorpause">pause()</a>
                        </li>
                        <li>
                            <a href="#zrenderanimatorresume">resume()</a>
                        </li>
                        <li>
                            <a href="#zrenderanimatorstarteasing">start()</a>
                        </li>
                        <li>
                            <a href="#zrenderanimatorstopforwardtolast">stop()</a>
                        </li>
                        <li>
                            <a href="#zrenderanimatorwhentime-props">when()</a>
                        </li>
                    </ol>
                    <a href="#zrenderboundingrect" class="primary">.BoundingRect</a>
                    <ol>
                        <li>
                            <a href="#zrenderboundingrectclone">clone()</a>
                        </li>
                        <li>
                            <a href="#zrenderboundingrectcontainx-y">contain()</a>
                        </li>
                        <li>
                            <a href="#zrenderboundingrectcopyother">copy()</a>
                        </li>
                        <li>
                            <a href="#zrenderboundingrectintersectother">intersect()</a>
                        </li>
                        <li>
                            <a href="#zrenderboundingrectunionother">union()</a>
                        </li>
                    </ol>
                </li>

                <li>
                    <a href="#zrendercolor" class="primary">.color</a>
                    <ol>
                        <li>
                            <a href="#zrendercolorliftcolor-level">lift()</a>
                        </li>
                        <li>
                            <a href="#zrendercolormaptocolornormalizedvalue-colors-fulloutput">mapToColor()</a>
                        </li>
                        <li>
                            <a href="#zrendercolorlerpnormalizedvalue-colors-fulloutput">lerp()</a>
                        </li>
                        <li>
                            <a href="#zrendercolormodifyhslcolor-h-s-l">modifyHSL()</a>
                        </li>
                        <li>
                            <a href="#zrendercolorparsecolorstr-rgbaarr">parse()</a>
                        </li>
                        <li>
                            <a href="#zrendercolortohexcolor">toHex()</a>
                        </li>
                        <li>
                            <a href="#zrendercolorstringifyarrcolor-type">stringify()</a>
                        </li>
                    </ol>
                </li>

                <li>
                    <a href="#zrenderdisplayable" class="primary">.Displayable</a>
                    <ol>
                        <li>
                            <a href="#zrenderdisplayablecontainx-y">contain()</a>
                        </li>
                        <li>
                            <a href="#zrenderdisplayabledirty">dirty()</a>
                        </li>
                        <li>
                            <a href="#zrenderdisplayablegetboundingrect">getBoundingRect()</a>
                        </li>
                        <li>
                            <a href="#zrenderdisplayablerectcontainx-y">rectContain()</a>
                        </li>

                        <li>
                            <a href="#zrenderarc" class="primary">.Arc</a>
                        </li>
                        <li>
                            <a href="#zrenderbeziercurve" class="primary">.BezierCurve</a>
                        </li>
                        <li>
                            <a href="#zrendercircle" class="primary">.Circle</a>
                        </li>
                        <li>
                            <a href="#zrendercompoundpath" class="primary">.CompoundPath</a>
                        </li>
                        <li>
                            <a href="#zrenderdroplet" class="primary">.Droplet</a>
                        </li>
                        <li>
                            <a href="#zrenderellipse" class="primary">.Ellipse</a>
                        </li>
                        <li>
                            <a href="#zrenderheart" class="primary">.Heart</a>
                        </li>
                        <li>
                            <a href="#zrenderimage" class="primary">.Image</a>
                        </li>
                        <li>
                            <a href="#zrenderisogon" class="primary">.Isogon</a>
                        </li>
                        <li>
                            <a href="#zrenderline" class="primary">.Line</a>
                        </li>
                        <li>
                            <a href="#zrenderpath" class="primary">.Path</a>
                            <ol>
                                <li>
                                    <a href="#zrenderpathextendprops">Path.extend()</a>
                                </li>
                            </ol>
                        </li>
                        <li>
                            <a href="#zrenderpolygon" class="primary">.Polygon</a>
                        </li>
                        <li>
                            <a href="#zrenderpolyline" class="primary">.Polyline</a>
                        </li>
                        <li>
                            <a href="#zrenderrect" class="primary">.Rect</a>
                        </li>
                        <li>
                            <a href="#zrenderrose" class="primary">.Rose</a>
                        </li>
                        <li>
                            <a href="#zrendersector" class="primary">.Sector</a>
                        </li>
                        <li>
                            <a href="#zrenderstar" class="primary">.Star</a>
                        </li>
                        <li>
                            <a href="#zrendertext" class="primary">.Text</a>
                        </li>
                        <li>
                            <a href="#zrendertrochoid" class="primary">.Trochoid</a>
                        </li>
                    </ol>
                </li>
                <li>
                    <a href="#zrenderelement" class="primary">.Element</a>
                    <ol>
                        <li>
                            <a href="#zrenderelementafterupdate">afterUpdate</a>
                        </li>
                        <li>
                            <a href="#zrenderelementattrkey-value">attr()</a>
                        </li>
                        <li>
                            <a href="#zrenderelementbeforeupdate">beforeUpdate</a>
                        </li>
                        <li>
                            <a href="#zrenderelementhide">hide()</a>
                        </li>
                        <li>
                            <a href="#zrenderelementremoveclippath">removeClipPath()</a>
                        </li>
                        <li>
                            <a href="#zrenderelementsetclippathclippath">setClipPath()</a>
                        </li>
                        <li>
                            <a href="#zrenderelementshow">show()</a>
                        </li>
                        <li>
                            <a href="#zrenderelementtraversecb-context">traverse()</a>
                        </li>
                    </ol>
                </li>

                <li>
                    <a href="#zrendereventful" class="primary">.Eventful</a>
                    <ol>
                        <li>
                            <a href="#zrendereventfulissilentevent">isSilent()</a>
                        </li>
                        <li>
                            <a href="#zrendereventfuloffevent-handler">off()</a>
                        </li>
                        <li>
                            <a href="#zrendereventfulonevent-handler-context">on()</a>
                        </li>
                        <li>
                            <a href="#zrendereventfuloneevent-handler-context">one()</a>
                        </li>
                        <li>
                            <a href="#zrendereventfultriggerevent">trigger()</a>
                        </li>
                    </ol>
                </li>

                <li>
                    <a href="#zrendergradient" class="primary">.Gradient</a>
                    <ol>
                        <li>
                            <a href="#zrendergradientaddcolorstopoffset-color">addColorStop()</a>
                        </li>
                    </ol>
                </li>
                <li>
                    <a href="#zrendergroup" class="primary">.Group</a>
                    <ol>
                        <li>
                            <a href="#zrendergroupaddchild">add()</a>
                        </li>
                        <li>
                            <a href="#zrendergroupaddbeforechild-nextsibling">addBefore()</a>
                        </li>
                        <li>
                            <a href="#zrendergroupchildatidx">childAt()</a>
                        </li>
                        <li>
                            <a href="#zrendergroupchildcount">childCount()</a>
                        </li>
                        <li>
                            <a href="#zrendergroupchildofnamename">childOfName()</a>
                        </li>
                        <li>
                            <a href="#zrendergroupchildren">children()</a>
                        </li>
                        <li>
                            <a href="#zrendergroupdirty">dirty()</a>
                        </li>
                        <li>
                            <a href="#zrendergroupeachchildcb-context">eachChild()</a>
                        </li>
                        <li>
                            <a href="#zrendergroupgetboundingrectincludechildren">getBoundingRect()</a>
                        </li>
                        <li>
                            <a href="#zrendergroupremovechild">remove()</a>
                        </li>
                        <li>
                            <a href="#zrendergroupremoveall">removeAll()</a>
                        </li>
                        <li>
                            <a href="#zrendergroupsilent">silent</a>
                        </li>
                    </ol>
                </li>

                <li>
                    <a href="#zrenderlineargradient" class="primary">.LinearGradient</a>
                </li>

                <li>
                    <a href="#zrendermatrix" class="primary">.matrix</a>
                    <ol>
                        <li>
                            <a href="#zrendermatrixcopyout-m">copy()</a>
                        </li>
                        <li>
                            <a href="#zrendermatrixcreate">create()</a>
                        </li>
                        <li>
                            <a href="#zrendermatrixidentityout">identity()</a>
                        </li>
                        <li>
                            <a href="#zrendermatrixinvertout-m">invert()</a>
                        </li>
                        <li>
                            <a href="#zrendermatrixmulout-m1-m2">mul()</a>
                        </li>
                        <li>
                            <a href="#zrendermatrixrotateout-m-rad">rotate()</a>
                        </li>
                        <li>
                            <a href="#zrendermatrixscaleout-m-v">scale()</a>
                        </li>
                        <li>
                            <a href="#zrendermatrixtranslateout-m-v">translate()</a>
                        </li>
                    </ol>
                </li>

                <li>
                    <a href="#zrender-path" class="primary">.path</a>
                    <ol>
                        <li>
                            <a href="#zrenderpathcreatefromstringstr-opts">createFromString()</a>
                        </li>
                        <li>
                            <a href="#zrenderpathextendfromstringstr-opts">extendFromString()</a>
                        </li>
                        <li>
                            <a href="#zrenderpathmergepathpathels-opts">mergePath()</a>
                        </li>
                    </ol>
                </li>

                <li>
                    <a href="#zrenderpattern" class="primary">.Pattern</a>
                </li>

                <li>
                    <a href="#zrenderradialgradient" class="primary">.RadialGradient</a>
                </li>

                <li>
                    <a href="#zrendertransformable" class="primary">.Transformable</a>
                    <ol>
                        <li>
                            <a href="#zrendertransformabledecomposetransform">decomposeTransform()</a>
                        </li>
                        <li>
                            <a href="#zrendertransformablegetglobalscale">getGlobalScale()</a>
                        </li>
                        <li>
                            <a href="#zrendertransformableorigin">origin</a>
                        </li>
                        <li>
                            <a href="#zrendertransformableposition">position</a>
                        </li>
                        <li>
                            <a href="#zrendertransformablerotation">rotation</a>
                        </li>
                        <li>
                            <a href="#zrendertransformablescale">scale</a>
                        </li>
                        <li>
                            <a href="#zrendertransformabletransform">transform</a>
                        </li>
                        <li>
                            <a href="#zrendertransformabletransformcoordtoglobalx-y">transformCoordToGlobal()</a>
                        </li>
                        <li>
                            <a href="#zrendertransformabletransformcoordtolocalx-y">transformCoordToLocal()</a>
                        </li>
                    </ol>
                </li>

                <li>
                    <a href="#zrenderutil" class="primary">.util</a>
                    <ol>
                        <li>
                            <a href="#zrenderutilbindfunc-context">bind()</a>
                        </li>
                        <li>
                            <a href="#zrenderutilclonesource">clone()</a>
                        </li>
                        <li>
                            <a href="#zrenderutilcreatecanvas">createCanvas()</a>
                        </li>
                        <li>
                            <a href="#zrenderutilcurryfunc">curry()</a>
                        </li>
                        <li>
                            <a href="#zrenderutildefaultstarget-source-overlay">defaults()</a>
                        </li>
                        <li>
                            <a href="#zrenderutileacharray-cb-context">each()</a>
                        </li>
                        <li>
                            <a href="#zrenderutilextendtarget-source">extend()</a>
                        </li>
                        <li>
                            <a href="#zrenderutilfilterarray-cb-context">filter()</a>
                        </li>
                        <li>
                            <a href="#zrenderutilfindarray-cb-context">find()</a>
                        </li>
                        <li>
                            <a href="#zrenderutilgetcontext">getContext()</a>
                        </li>
                        <li>
                            <a href="#zrenderutilindexofarray-value">indexOf()</a>
                        </li>
                        <li>
                            <a href="#zrenderutilinheritsclazz-baseclazz">inherits()</a>
                        </li>
                        <li>
                            <a href="#zrenderutilisarraydata">isArray()</a>
                        </li>
                        <li>
                            <a href="#zrenderutilisfunctiondata">isFunction()</a>
                        </li>
                        <li>
                            <a href="#zrenderutilisobjectdata">isObject()</a>
                        </li>
                        <li>
                            <a href="#zrenderutilisstringdata">isString()</a>
                        </li>
                        <li>
                            <a href="#zrenderutilmaparray-cb-context">map()</a>
                        </li>
                        <li>
                            <a href="#zrenderutilmergetarget-source-overwrite">merge()</a>
                        </li>
                        <li>
                            <a href="#zrenderutilreducearray-cb-context">reduce()</a>
                        </li>
                        <li>
                            <a href="#zrenderutilslicearray-start-end">slice()</a>
                        </li>
                    </ol>
                </li>

                <li>
                    <a href="#zrendervector" class="primary">.vector</a>
                    <ol>
                        <li>
                            <a href="#zrendervectoraddout-v1-v2">add()</a>
                        </li>
                        <li>
                            <a href="#zrendervectorapplytransformout-v-m">applyTransform()</a>
                        </li>
                        <li>
                            <a href="#zrendervectorcopyout-v">copy()</a>
                        </li>
                        <li>
                            <a href="#zrendervectorclonev">clone()</a>
                        </li>
                        <li>
                            <a href="#zrendervectordistancev1-v2">distance()</a>
                        </li>
                        <li>
                            <a href="#zrendervectordistancesquarev1-v2">distanceSquare()</a>
                        </li>
                        <li>
                            <a href="#zrendervectordivout-v1-v2">div()</a>
                        </li>
                        <li>
                            <a href="#zrendervectordotv1-v2">dot()</a>
                        </li>
                        <li>
                            <a href="#zrendervectorlenv">len()</a>
                        </li>
                        <li>
                            <a href="#zrendervectorlensquarev">lenSquare()</a>
                        </li>
                        <li>
                            <a href="#zrendervectorlerpout-v1-v2-t">lerp()</a>
                        </li>
                        <li>
                            <a href="#zrendervectormaxout-v1-v2">max()</a>
                        </li>
                        <li>
                            <a href="#zrendervectorminout-v1-v2">min()</a>
                        </li>
                        <li>
                            <a href="#zrendervectormulout-v1-v2">mul()</a>
                        </li>
                        <li>
                            <a href="#zrendervectornegateout-v">negate()</a>
                        </li>
                        <li>
                            <a href="#zrendervectornormalizeout-v">normalize()</a>
                        </li>
                        <li>
                            <a href="#zrendervectorscaleout-v-s">scale()</a>
                        </li>
                        <li>
                            <a href="#zrendervectorscaleandaddout-v1-v2-scale">scaleAndAdd()</a>
                        </li>
                        <li>
                            <a href="#zrendervectorsetout-a-b">set()</a>
                        </li>
                        <li>
                            <a href="#zrendervectorsubout-v1-v2">sub()</a>
                        </li>
                    </ol>
                </li>
            </ol>

            <hr>

            <h3>
                <a href="#zrender-instance-api">zrender 实例</a>
            </h3>
            <ol>
                <li>
                    <a href="#addel">add()</a>
                </li>
                <li>
                    <a href="#addhoverel-style">addHover()</a>
                </li>
                <li>
                    <a href="#animation">animation</a>
                </li>
                <li>
                    <a href="#clear">clear()</a>
                </li>
                <li>
                    <a href="#clearanimation">clearAnimation()</a>
                </li>
                <li>
                    <a href="#clearhover">clearHover()</a>
                </li>
                <li>
                    <a href="#configlayerzlevel-config">configLayer()</a>
                </li>
                <li>
                    <a href="#dispose">dispose()</a>
                </li>
                <li>
                    <a href="#dom">dom</a>
                </li>
                <li>
                    <a href="#flush">flush()</a>
                </li>
                <li>
                    <a href="#getheight">getHeight()</a>
                </li>
                <li>
                    <a href="#getwidth">getWidth()</a>
                </li>
                <li>
                    <a href="#id">id</a>
                </li>
                <li>
                    <a href="#offeventname-eventhandler">off()</a>
                </li>
                <li>
                    <a href="#oneventname-eventhandler-context">on()</a>
                </li>
                <li>
                    <a href="#refresh">refresh()</a>
                </li>
                <li>
                    <a href="#refreshhover">refreshHover()</a>
                </li>
                <li>
                    <a href="#refreshhoverimmediately">refreshHoverImmediately()</a>
                </li>
                    <a href="#refreshimmediately">refreshImmediately()</a>
                </li>
                <li>
                    <a href="#removeel">remove()</a>
                </li>
                <li>
                    <a href="#removehoverel">removeHover()</a>
                </li>
                <li>
                    <a href="#resizeopts">resize()</a>
                </li>
                <li>
                    <a href="#triggereventname-event">trigger()</a>
                </li>
            </ol>
        </div>
    </div><!-- end of sidebar -->

    <div class="api-content">
        <h2 id="zrender-api">zrender</h2>
        {% for api in site.api_zrender %}
            {{ api.content }}
        {% endfor %}

        <h2 id="zrender-instance-api">zrender 实例</h2>
        {% for api in site.api_zrender_instance %}
            {{ api.content }}
        {% endfor %}
    </div>
</div>



{% include footer.html %}

<script>
$('table').addClass('table');

$('.api-content h3').each(function () {
    var $this = $(this);
    $this.append(
        '<a href="#' + $this.attr('id') + '" class="api-anchor">#</a>'
    );
});

$('.sidebar-inner a').click(function () {
    $('.sidebar-inner a').removeClass('active');
    $(this).addClass('active');
});

$('.api-content').scroll(function () {
    if ($('#zrender-api').offset().top >= 80) {
        // Is top
        $('#nav').removeClass('shadowed');
    }
    else {
        // Is not top
        $('#nav').addClass('shadowed');
    }
});
</script>
