{% include header.html %}

<div class="page">
    {% include example_sidebar.html %}

    <div class="content">
        <div class="container">
            <h2>Examples</h2>

            <div class="row examples">
                {% for example in site.examples %}
                <div class="col-md-3 col-sm-6">
                    <a href="{{ site.url }}{{ example.url }}">
                        <img src="{{ site.url }}/img/examples/{{ example.name }}.png" alt="{{ example.title }}">
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% include footer.html %}
