#main {
    position: relative;
    z-index: 1;
    overflow: hidden;

    padding-top: 50px;
    height: 100%;
}

.content {
    position: relative;

    margin-left: $sidebar-width;
    padding: 10px;
    height: 100%;
    overflow-y: auto;
}

.container {
    margin-bottom: 20px;
}

.container-top {
    padding-top: 50px;
}
