.api-content {
    @extend .content;

    padding: 0 40px 20px 40px;
    max-width: 1000px;
    color: $clr-text;

    h2 {
        font-size: 26px;
        color: $clr-head;
        border-top: 1px solid $clr-border;
        padding-top: 20px;

        &:first-child {
            border-top: none;
            padding-top: 0;
            margin-top: 30px;
        }
    }

    .api-anchor {
        display: none;
        transition-duration: 0.5s;
        margin-left: 5px;
        color: $clr-primary;
    }

    h3:hover .api-anchor {
        display: inline-block;
    }

    table {
        font-size: 14px;
    }

        th {
            min-width: 60px;
        }

        td {
            color: $clr-text;
        }
}
