$clr-primary:        #A06D20;
$clr-secondary:      #5588E2;

$clr-link: $clr-secondary;
$clr-link-hover: darken($clr-link, 20%);

$clr-text: #999;
$clr-text-dark: #808080;
$clr-head: #494949;
$clr-head-light: #757575;
$clr-border: #DBDBDB;

$clr-bg: rgba(216, 216, 216, 0.1);
$clr-bg-primary: rgba(160, 109, 32, 0.08);
